@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:  "Roboto Condensed", sans-serif;
}

nav{
    display: flex;
    background-color: transparent;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 30px;
    color: white;
    z-index: 2;
}

.listLink{
    z-index: 2;
}

.listLink a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    transition: .3s ease-in;
}

.listLink a:hover{
    color: red;
}

.listLink a.active{
    color: red !important;
}

.acc{
    text-decoration: none;
    z-index: 2;
}

.pasFoto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}