@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}

.logo {
    width: 75px;
    height: 80px;
}

.navbar-nav .nav-link {
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    transition: color 0.3s ease-in;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: red !important;
}

.pasFoto {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .navbar-nav {
        text-align: center;
        margin-top: 10px;
    }
}
